# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Power BI
*.pbix

# Data (add full dataset locally, don't commit)
data/hr_dataset_full.csv

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
